---
permalink: email/
---

{%- for post in site.posts limit:1 -%}
  {% assign latest = post %}
{%- endfor -%}

<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <meta name="color-scheme" content="light dark only">
  <meta name="supported-color-schemes" content="light dark only">
  <title>{{ latest.title }}</title>
  {%- capture styles -%}{% include_relative resources/css/email.scss.liquid %}{% endcapture %}
  <style type="text/css">
    {{ styles | scssify }}
  </style>
</head>
<body class="body" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
  <center>
    <div style="display: none">{{ latest.content | markdownify | strip_html | truncatewords: 20 }}</div>
    <div role="article" aria-roledescription="email" aria-label="{{ latest.title }}" lang="en">
      <table id="bodyTable" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="font-size:1rem" role="presentation">
        <tr>
          <td id="bodyCell" align="center" valign="top">
            <table id="cloth" border="0" cellpadding="0" cellspacing="0" role="presentation">
              <tr>
                <td align="center" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                    <tr>
                      <td valign="top" align="center" class="header-content">
                        {% include thread-up.html %}
                        <p><time datetime="{{ latest.date | date: '%F' }}">{{ latest.date | date: '%B %Y' }} </time></p>
                        <h1>{{ latest.title }}</h1>
                        {% include thread-down.html %}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                    <tr>
                      <td valign="top">
                        <div class="body-content">
                          {{ latest.content }}
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" role="presentation">
                    <tr>
                      <td valign="top" align="center" class="footer-content">
                        <span class="thread">·⋞</span>
                        <p>
                          <a href="{{ site.baseurl }}/{{ latest.slug }}">View letter in browser</a>
                        </p>
                        <p>
                          <strong>{{ site.title }}</strong> is written and published by <a href="{{ site.author.profile }}">{{ site.author.name }}</a>
                        </p>
                        <p>
                          {%- comment -%} Be sure to add the unsubscribe tag from your newsletter service {% endcomment %}
                          <a href="{% raw %}<!-- unsubscribe tag -->{% endraw %}">Unsubscribe</a>
                        </p>
                        <span class="thread">≽·</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </center>
</body>
</html>