<form class="shuttle">  
  <div class="shuttle--row">
    <label for="one">Your email address</label>
    <input id="one" name="one" type="email">
  </div>
  <div class="shuttle--row">
    <button type="submit">Subscribe</button>
  </div>
</form>