{%- include head.liquid -%}

<body>
  <div class="loom">
    <header class="beam">
        {% if page.url == "/" %}<h1>{% else %}<p>{% endif %}
          <a href="{{ site.baseurl }}/"><strong>{{ site.title }}</strong></a> {{ site.description }}</h1>
        {% if page.url == "/" %}</h1>{% else %}</p>{% endif %}
        <nav>
          <ul>
            <li><a href="{{ site.baseurl }}/documentation">Documentation</a></li>
            <li><a href="{{ site.baseurl }}/latest">Latest post</a></li>
            <li><a href="{{ site.baseurl }}/subscribe">Subscription form</a></li>
            {%- if jekyll.environment == 'development' -%}
              <li><a href="/email">Email</a></li>
            {% endif %}
          </ul>
        </nav>
    </header>
    <main>
      {{ content }}
    </main>
  </div>
</body>
</html>
