---
layout: default
---

<article class="skein">
    <header>
      {% include thread-up.html %}
      {%- if page.heading -%}
        <h1>{{ page.heading }}</h1>
      {%- else -%}
        {%- if page.date %}
          <p>{{ page.date | date: '%B %Y' }}</p>
        {%- endif %}
        <h1>{{ page.title }}</h1>
      {%- endif %}
      {% include thread-down.html %}
    </header>
  {{ content }}
</article>